.vscode/
client/.dart_tool/
server/.dart_tool/
build/scripts/__pycache__/
build/objects/
Makefile
client/generated.dart
client/native/c_codegen.h
server/generated.dart
server/native/c_codegen.h
shared/generated.dart
shared/native/c_codegen.h
codegen.yaml